html, body  {
	font-size: 10px;
	font-family: 'Lato', "Arial", sans-serif;
	z-index: 1;
}

.wrapper-content {
	max-width: 1020px;
	margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

/* Nav menu */
header {
	position: fixed;
	width: 100%;
	max-width: 1020px;
	z-index: 5;
	background-color: #323232;
} 

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item {
	margin: 0px 11px;
	transform: translateY(5px);
}

.item:nth-child(5) {
	margin-left: 104px;
}

.item, .point {
	display: inline-block;
}

.logo {
	position: absolute;
	transform: translateY(35px);
}

.first-decorative-triangle {
	display: flex;
	justify-content: center;
	z-index: 5;
	transform: translate(12px, -23px);
}

.second-decorative-triangle {
	z-index: 10;
	border-style: solid;
	border-width: 26px 45px 0 45px;
	border-color: #323232 transparent;
	transform: translateX(28px);
}

.decorative-hidden-span {
	position: absolute;
	left: 50%;
	width: 140px;
	height: 2px;
	margin-left: -70px;
	background-color: #ffffff;
} 

.menu {
	display: flex;
	justify-content: center;
	margin: 25px auto;
	padding: 0;
}

.item:nth-child(3) {
	margin-right: 68px;
}

.item:nth-child(4) {
	margin-left: 70px;
}

.item a {
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #adadad;
}

.item a:hover {
	color: #2eb398;
}

.point {
	z-index: 5;
	transform: translateY(2.5px);
}

.point span{
	color: #adadad;
}

/* Main section */
main {
	padding-top: 65px;
}

/* Hexagone-section */
.border-hexagone {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 12px 30px;
	border-top: 1px solid #e4e9eb;
	border-bottom: 1px solid #e4e9eb;
}

.hexagone {
	display: inline-block;
	width: 180px;
	height: 211px;
	margin: 10px;
	transform: rotate(120deg);
	overflow: hidden;
	visibility: hidden;
	transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.hex-layer-first {
	width: 100%;
	height: 100%;
	transform: rotate(-60deg);
	overflow: hidden;
}

.hex-layer-second,
.hex-layer-third,
.hex-layer-fourth,
.hex-layer-fifth,
.hex-layer-sixth, 
.hex-layer-seventh, 
.hex-layer-eighth,
.hex-layer-ninth, 
.hex-layer-tenth, 
.hex-layer-eleventh, 
.hex-layer-twelfth,
.hex-layer-thirteenth, 
.hex-layer-fourteenth,
.hex-layer-developer {
	width: 100%;
	height: 100%;
	z-index: 3;
	background: #ffffff;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transform: rotate(-60deg);
	overflow: hidden;
	visibility: visible;
}

.hex-layer-second {
	background-image: url('../assets/img/Layer\ 33.png');
}

.hex-layer-third {
	background-image: url('../assets/img/Layer\ 31.png');
}

.hex-layer-fourth {
	background-image: url('../assets/img/Layer\ 34.png');
}

.hex-layer-fifth {
	background-image: url('../assets/img/Layer\ 35.png');
}

.hex-layer-sixth {
	background-image: url('../assets/img/Layer\ 36.png');
}

.hex-layer-seventh {
	background-image: url('../assets/img/Layer\ 44.png');
}

.hex-layer-eighth {
	background-image: url('../assets/img/Layer\ 37.png');
}

.hex-layer-ninth {
	background-image: url('../assets/img/Layer\ 38.png');
}

.hex-layer-tenth {
	background-image: url('../assets/img/Layer\ 39.png');
}

.hex-layer-eleventh {
	background-image: url('../assets/img/Layer\ 40.png');
}

.hex-layer-twelfth {
	background-image: url('../assets/img/Layer\ 41.png');
}

.hex-layer-thirteenth {
	background-image: url('../assets/img/Layer\ 43.png');
}

.hex-layer-fourteenth {
	background-image: url('../assets/img/Layer\ 42.png');
}

.row {
	display: flex;
}

.row-native-top {
	flex-direction: row;
	transform: translate(0px, 65px);
}

.row-native-middle {
	flex-direction: row;
}

.row-native-bottom {
	display: flex;
	flex-direction: row;
	transform: translate(0px, -65px);
}

.hexagone:hover {
	z-index: 0;
	transform: rotate(-240deg);
	transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.border-hexagone-left, .border-hexagone-right {
	display: inline-block;
	height: 102px;
	width: 1px;
	border-left: 1px solid #e4e9eb;
	transform: translate(-7px, 65px);
}

.border-hexagone-right {
	transform: translate(7px, 65px);
}

/* Info section */
.info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center; 
	height: 340px;
	margin: 0 auto;
	background-color: #2eb398;
}

.article {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 13px 0;
	border-left: 1px solid #219d84;
	border-right: 1px solid #219d84;
}

.info-block-developer {
	display: flex;
	width: 197px;
	height: 230px;
	padding: 44px 10px;
}

.info-block-developer .hex-layer-developer {
	background-color: #2eb398;
	background-image: url('../assets/img/developer-foto.png');
}

.info-block-info {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 582px;
	padding: 35px 20px 40px 0;
	font-size: 2em;
	font-family: 'Maven Pro', "Arial", sans-serif;
	color: #d7fcf5;
	transform: translateY(8px);
}

.info-block-info h2 {
	margin: 5px 0 0 0;
	font-size: 3rem;
	font-weight: 300;
	letter-spacing: -0.5px;
}

.info-block-info h3 {
	margin: 0 0 -3px 0;
	font-size: 1.8rem;
	letter-spacing: -0.05rem;
	color: #20816d;
}

.info-block-info p {
	margin: 16px 0;
	font-size: 1.2rem;
	font-family: 'Lato-reg', "Arial", sans-serif;
	color: #d7fcf5;
	line-height: 2.1rem;
}

.info-block-info .info-logo {
	position: relative;
	display: inline-block;
	padding-top: 22px;
	transform: translate(433px, -25px);
}

.facebook, 
.twitter, 
.google, 
.pinterest, 
.linkedin, 
.dribbble {
	margin: 0 -3px;
	font-family: 'FontAwesome', "Arial", sans-serif;
	color: #2eb398;
	outline: none;
	text-align: center;
	text-decoration: none;
}

.fa-facebook-square, .fa-google-plus-square, .fa-linkedin {
	font-size: 1.4em;
	color: #a4dbd4;
}

.fa-twitter-square, .fa-pinterest-square, .fa-dribbble-square {
	font-size: 1.4em;
	color: #6dcbbe;
}

.fa-facebook-square:hover, 
.fa-twitter-square:hover, 
.fa-google-plus-square:hover, 
.fa-pinterest-square:hover, 
.fa-linkedin:hover, 
.fa-dribbble-square:hover {
	outline: none !important;
	text-decoration: none !important;
	color: #cde4e1;
}

/* Form section */
.in-touch-form {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 565px;
	background-color: #323232;
}

.form-article {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 55px 90px;
	border-top: 2px solid #2b2b2b;
	border-bottom: 2px solid #2b2b2b;
}

.top{
	transform: translateY(14px);
}

.bottom{
	transform: translateY(-14px);
}

.form-article::after {
	position: relative;
	display: block;
	width: 900px;
	min-height: 550px;
	border-top: 2px solid #2b2b2b;
}

.form-block-input {
	display: inline-block;
	width: 565px;
}

.form {
	width: 100%;
	font-size: 1.2rem;
	font-family: 'Lato-reg', "Arial", sans-serif;
}

.form h2 {
	margin:-8px 0 10px 0;
	font-size: 3rem;
	font-weight: 300;
	font-family: 'Maven Pro', "Arial", sans-serif;
	color: #e0e0e0;
	letter-spacing: 0.3px;
}

.form h3 {
	margin: 0;
	padding: 0 0 30px 2px;
	font-size: 1.8rem;
	font-weight: 300;
	font-family: 'Maven Pro', "Arial", sans-serif;
	color: #bebebe;
	line-height: 0rem;
}

.input-text, 
.input-text-area {
	display: block;
	width: 100%;
	min-height: 37px;
	margin-bottom: 15px;
	padding-left: 16px;
	font-size: 1.1rem;
	font-family: 'Maven Pro', "Arial", sans-serif;
	color: #bebebe;
	background-color: #454545;
	border: none;
}

.input-text-area {
	min-height: 142px;
	padding: 9px 0 0 16px;
}

button {
	position: relative;
	display: block;
	width: 90px;
	min-height: 38px;
	margin-top: -2px;
	font-size: 1.2rem;
	font-family: 'Lato', "Arial", sans-serif;
	text-align: center;
	color: #bebebe;
	background-color: #2eb398;
	border: none;
	transform: translateX(490px);
	text-transform: uppercase;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}

button:hover {
	color: #2eb398;
	background: #94c9be;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear; 
}

form p {
	text-align: right;
}

.form-block-info {
	display: inline-block;
	width: 200px;
	min-height: 300px;
	padding-left: 13px;
	vertical-align: top;
}

.form-block-info p {
	margin-top: -4px;
	padding: 0 0 25px 21px;
	font-family: 'Lato-reg', "Arial", sans-serif;
	font-size: 1.2rem;
	color: #bebebe;
	text-align: justify;
	line-height: 2.1rem;
}

figure {
	padding-left: 21px;
	padding-bottom: 1px;
	font-size: 1.2rem;
	font-family: 'Lato-reg', "Arial", sans-serif;
	text-align: justify;
	color: #bebebe;
	line-height: 2.1rem;
	text-decoration: none;
}

.location, 
.phone, 
.email {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.phone figure a, 
.email figure a {
	font-size: 1.2rem;
	font-family: 'Lato-reg', "Arial", sans-serif;
	color: #bebebe;
	text-decoration: none;
}

.location:hover::after, 
.phone:hover::after, 
.email:hover::after {
	position: absolute;
	bottom: 100%;
	left: 20%;
	z-index: 1;
	font-size: 1.3em;
	font-family: "Lato", "Arial", sans-serif;
	color: #bebebe;
	padding: 5px 10px;
	background: #454545;
	border: 1px solid #2eb398;
	content: attr(data-title);
}

.form-block-info span {
	font-size: 1.2rem;
	font-family: 'Lato', "Arial", sans-serif;
	color: #e0e0e0;
}

.adress {
	display: block;
}

.adress img {
	margin-right: 10px;
}

.adress figure {
	margin: 0;
	padding-left: 22px;
}

.form-block-info img {
	width: 7%;
	height: 7%;
}

.end {
	display: flex;
	background-color: #222222;
	vertical-align: center;
}

.end p {
	margin: 0;
	padding: 15px 40px;
	font-size: 1.2rem;
	letter-spacing: -0.33px;
	font-weight: bold;
	font-family: 'Maven Pro', "Arial", sans-serif;
	color: #3c3c3c;
}
